<form>
	<div class="address">
		<div class="data">
			<div class="row">
				<label title="Enter your address 1">
					Address 1
					<input id="mailing_1_1" placeolder="home place (line 1)">
				</label>
				<label title="Enter your address 2">
					<input id="address_1_2" placeholder="address (line 2)">
				</label>
			</div>
			<div class="row">
				<label title="Enter your city">
					City
					<input id="city_1" type="text" placeholder="city">
				</label>
				<label title="Enter your state">
					State
					<select id="state_1"></select>
				</label>
				<label title="Enter your zip code">
					Zip
					<input id="postal_code_1" type="text" placeholder="zip code">
				</label>
			</div>
		</div>
	</div>
	<div class="address">
		<div class="data">
			<div class="row">
				<label for="address_2_1">Address 1</label>
				<input id="home_2_1" placeholder="Your address 1">
				<label for="address_2_2">Address 2</label>
				<input id="address_2_2" placeholder="Your address 2">
			</div>
			<div class="row">
				<label for="city_2"></label>
				<input id="city_2" value="city" placeholder="Your city">
				<label for="state_2"></label>
				<select name="state_2" id="state_2"></select>
				<label for="zip_code_2"></label>
				<input type="text" id="zip_code_2" placeholder="11111">
			</div>
		</div>
	</div>
</form>