<div class="foo">
	<div id="bar1">
		<section>
			<div class="biz_1 biz!!!%:"></div>
			<div class="biz_1">
				<span id="falalala">
					<label title="blah">
						<input name="blah2">
					</label>
					<label title='Come on now, this is just a "test"''>
						<input name="sample_1234" id="test_input1">
					</label>
				</span>
			</div>
			<div class="biz_1 blah2 test_#!: " title="this is my own div">
				<span id="falalala">
					<input name="blah">
					<label title='Come on now, this is just a "test"''>
						<input name="sample_12345" id="bar_input2">
					</label>
				</span>
			</div
		</section>
	</div>
</div>
<div class="foo">
	<select name="blah3" id="test_input3" class="blah">
</div>